#budease {
  background-image: url("../images/Budease-Logo.png");
  background-position: center;
  background-color: rgb(255, 255, 255);
  background-size: 240px;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 1;
}
 #budease:hover {
   opacity: 0.9;
 }

#brawlr {
  background-image: url("../images/brawlr-logo.png");
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-size: 240px;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
}

#brawlr:hover {
  opacity: 0.9;
}

#pi {
  background-image: url("../images/Pi\ Logo.svg");
  background-position: center;
  background-size: contain;
  background-color: #0072b8;
  background-size: 200px;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
}

#pi:hover {
  opacity: 0.9;
}

#vault {
  background-image: url("../images/Vault-03.png");
  background-position: center;
  background-size: contain;
  background-color: black;
  /* background-color: rgb(255, 255, 255); */
  background-size: 200px;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
}

#vault:hover {
  opacity: 0.9;
}

#agency {
  background-image: url("../images/agency.pics\ logo.png");
  background-position: center;
  background-size: contain;
  background-color: #b7fc22;
  /* background-color: rgb(255, 255, 255); */
  background-size: 200px;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
}

#agency:hover {
  opacity: 0.9;
}

#sentinel {
  background-image: url("../images/SentinelTechLogoWhite.png");
  background-position: center;
  background-size: contain;
  background-color: #3eb1f2;
  /* background-color: rgb(255, 255, 255); */
  background-size: 200px;
  background-repeat: no-repeat;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
}

#sentinel:hover {
  opacity: 0.9;
}

.projects p {
  margin-left: 20vw;
  margin-right: 20vw;
}
